.App {
  text-align: center;
}
.clock{
  display: block;
  width: 400px;
  height: 400px;
  background-image: url('../public/clock-assets/minuts-pointer.png');
  background-position: center;
  background-size: contain;
}
.secends {
  display: block;
  width: 400px;
  height: 400px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
